
<!--Como app-contador ya es un componente, podemos llamarlo u ocuparlo usando la etiqueta personalizada
aún soy nuevo, y puede que esto parezca extraño pero es interesante la forma es que podría reutilizar este componente
ya que el estado del componente aunque sea del mismo tipo es independiente-->

 <app-contador></app-contador>
<app-contador></app-contador>
<!--Recordemos que en el app.component normalmente no vamos a trabajar, solo manejaremos cosas muy globales
o de "alto nivel" -->
<!-- <app-heroe></app-heroe> -->
<!--Quizá esta información no va aquí, pero hay comandos que al crear nuevos componente
    sirven para ommitir ciertos archivos que nos vamos a ocupar como:
    los spec que son archivos de prueba
-->
<!-- <app-listado></app-listado> -->