<p>Listado de heróes</p>
<ul>
    <!--Aquí podemos observar que se está haciendo uso de una directiva de estructura
        la cual nos permite manipular de forma más sencilla el DOM
        en particular esta directiva es ngFor que podría decirse tiene un comportamiento similar al
        del ciclo for-->
    <li *ngFor="let heroe of heroes; let i = index">
        {{i}} - {{heroe}}
    </li>
</ul>
<!--Si bien funciona de esta forma.
también de la siguiente-->
<!-- <div *ngIf="heroeBorrado !=''"> 
    y funciona de esta forma porque la directiva nfIf es lo suficientemente inteligente
para saber que ya sea que hereoBorrado = '' || undefined || null || false simbolizan que está vacio
así como hay una directiva ngIf también la hay para else ngElse, en donde se usa un template o componente propio
de angular-->
<div *ngIf="heroeBorrado; else noBorrado ">
    <h3 >Heróe borrado <small>{{heroeBorrado}}</small></h3>
    
</div>
<!--El signo de númeral hace referencia a una referencia local, la cual se encuentra en el ng de arriba
y lo que hace es: si heroeBorrado es false entonces haz la siguiente referencia-->
<ng-template #noBorrado>

    <h3 >No ha borrado nada<small>{{heroeBorrado}}</small></h3>
    
</ng-template>



<button (click)="borrarHeroe()">
    Borrar heróe
</button>
